/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.code { counter-reset: listing; }
xmp { counter-increment: listing; }
.code xmp:before { content: counter(listing) ". "; color: gray; }

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

#features {
  max-width:none;
}

.row.featurette {
  padding: 0 80px;
  margin-right:0px;
  margin-left:0px;
}

.row.featurette:nth-child(even){
  background:#e6f1fa;
  padding-bottom:50px;
}

.isStuck{
    left:0px;
    width:100%;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  margin-top:20px;
  position: relative;
  z-index: 15;

}

.navbar.navbar-inverse.navbar-static-top {
    border-color: #e8f4ff9e;
    background: #e8f4ff9e;
    width: 100%;
}
.navbar.navbar-inverse.navbar-static-top a{
  color:#fff;
}
.navbar.navbar-inverse.navbar-static-top a:hover{
  color:#0A64A4;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{
  background:#398439;
  font-weight:700;
}
.navbar-inverse .navbar-nav>.active>a:hover {
  background:#398439;
  color:#fff;
  font-weight:700;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {

  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
